@model SokoSolve.Core.Lib.Library


<div class="row">
@foreach (var p in Model)
{
    <div class="col-2">
        <div class="card">
            <div class="card-header">
                [@p.Ident]
                <a asp-action="Home" asp-controller="Puzzle"  asp-route-lib="@Model.Details?.Name" asp-route-id="@p.Ident">@p.Name</a>
            </div>
            
            <partial name="PuzzleMap" model="@p.Puzzle"/>
        </div>    
    </div>
    
}    
</div>
