@using TextRenderZ.Reporting
@using SokoSolve.Core.Lib
@model SokoSolve.Client.Web.Controllers.LibController.IndexModel

@{
    ViewBag.Title = "Library Collection";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <a asp-controller="Puzzle" asp-action="Saved" class="btn btn-primary">Saved Attempts</a>
</div>


<div class="row">
    @{

        MapToReporting.Create<LibrarySummary>()
                      .AddColumn("Id", x=>x.Id)
                      .AddColumn("Name", x=>x.Name, col=>col.Link((cell, summary) => Url.Action("Home", new {id=summary.Id})))
                      .AddColumn("Solutions", x=>Model.Get(x.Id).Count(x=>x.sol != null), col=>col.Link((cell, summary) => Url.Action("Solutions", new {id=summary.Id})))
                      .AddColumn("Latest", x=>Model.GetLatest(x.Id)?.TotalNodes)
                      .RenderTo(Model.Collection.Items, new MapToReportingRendererHtml(), Output);
    }
</div>
