@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SokoSolve Sokoban</h1>
    
    <p>
        <a href="https://home.guylangston.net/Blog/Article/SokoSolve">Project Blog</a>
    </p>
    
    <p>
        <a href="https://github.com/guylangston/SokoSolve">Github</a>
    </p>
</div>
