@using SokoSolve.Core.Solver
@using TextRenderZ
@model SokoSolve.Core.Solver.SolverState?

@if (Model != null)
{
    if(Model.Exit == ExitResult.Continue)
    {
        <h1>Running</h1>
    }
    else
    {
        <h1>@Model.Exit</h1>
    }
}
else
{
    <span>ERROR: Model not found (SolverState)</span>
}

<hr/>
@{
    if (Model.Command.AggProgress is ProgressNotifierSampling prog)
    {
        
        Write(prog.LastUpdate);
        WriteLiteral("<hr/>");
    }
    WriteLiteral(FluentString.CreateHtmlUl(Model.Statistics, (s, statistics) => s.Append(statistics.ToString(true))));   
}

