@using SokoSolve.Core.Solver
@using TextRenderZ
@model SokoSolve.Core.Solver.SolverState?

@if (Model != null)
{
    if(Model.Exit == ExitResult.Continue)
    {
        <b>Running</b>
    }
    else
    {
        <b>@Model.Exit</b>
    }
   
}
else
{
    <span>ERROR: Model not found (SolverState)</span>
}

<hr/>
@{
    WriteLiteral(FluentString.CreateHtmlUl(Model.Statistics, (s, statistics) => s.Append(statistics.ToString(true))));   
}

