/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/* NEW Styles
-------------------------------------------------- */

body {
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {

  font-family: Lora, Roboto, sans-serif;
  color: #003579;

}


.navbar-brand {
  margin: 0;
  padding: 0;
  font-family: Lora, Roboto, sans-serif;
  color: #005696;
  font-weight: bolder;
}


.table-excel {
  border-collapse: collapse;
  font-family: Consolas, monospace;
  font-size: 10pt;
}

.table-excel td, .table-excel th {
  border: 1px solid black;
}

.table-excel th {
  font-weight: bold;
  background-color: #eee;
}

.ul-compact {
  display: inline-block;
  padding: 0;
  margin: 0;

}

.ul-compact li {
  padding: 0;
  margin: 0;
}

.btn-ribbon .btn {
  margin-bottom: 10px;

}


.table-form th {

  text-align: right;
}



/* CELL / TABLE */

.align-center { text-align: center; }
.align-right { text-align: right; }
.bg-red { background-color: #F29597;}
.bg-blue { background-color: #D1D8EF;}
.bold { font-weight: bold;}
.err { background: red !important; color: yellow !important; }
.num {  text-align: right;}
.num-neg { color: red;}
.null {  color: #a4b7a8; background: #F9F9F5; text-align: center;}
.fg-neut { color: #ddd; }
.suffix, .prefix { color: #999; font-size: small; }
